* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    font-size: 16px;
}

.full {
    height: 70vh;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; 
    border-radius: .7em;
}

.full .mode{
    background: #5a05e2;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border-radius: .7em .7em 0 0;
}

.full .mode button {
    width: 20%;
    height: 70%;
    border: none;
    outline: none;
    background: rgba(0, 0, 255, 0.7);
    color: white;
    font-size: 1.5em;
    border-radius: .4em;
    box-shadow: 4px 4px 5px black;
    cursor: pointer;
}

#selected-mode {
    box-shadow: none;
    margin-top: 4px;
    font-style: italic;
    background: rgba(0, 0, 255, 0.5);
    cursor: default;
}

/* ============================================================== */

.cryption {
    background: linear-gradient(to bottom, #5a05e2, #0000ff), #5a05e2;
    height: 88%;
    border-radius: 0 0 .7em .7em;
}

.cryption>div {
    display: block;
    height: 45%;
}

.cryption div {
    display: flex;
}

.cryption .two {
    height: 10%;
    width: 40%;
    margin: 0 auto;
    gap: .5em;
    align-items: center;
    justify-content: center;
}

.cryption div textarea {
    height: 100%;
    width: 98%;
    margin: 0 auto;
    padding: 2em;
    font-size: 1.5em;
    resize: none;
    border-radius: .7em;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    color: white;
}

.cryption .three textarea {
    height: 96%;
}

.cryption div textarea::placeholder {
    color: rgba(255, 255, 255, 0.486);
}

.cryption div button {
    height: 80%;
    width: 60%;
    font-size: 1.2em;
    border: none;
    outline: none;
    background: #5a05e2;
    color: white;
    border-radius: .3em;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

.cryption div button:active {
    box-shadow: none;
}

/* ===================================================== */

@media screen and (min-width: 200px) {
    body {
        font-size: 12px;
    }
    .full {
        width: 95%;
    }
    .full .mode button {
        width: 45%;
    }
    .cryption .two {
        width: 90%;
    }
    .cryption div textarea {
        padding: 1em;
    }
}

@media screen and (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }
    .full {
        width: 95%;
    }
    .full .mode button {
        width: 30%;
    }
    .cryption .two {
        width: 60%;
    }
}

@media screen and (min-width: 900px) {
    .full {
        width: 80%;
    }
    .full .mode button {
        width: 25%;
    }
    .cryption .two {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .full {
        width: 60%;
    }
    .full .mode button {
        width: 20%;
    }
    .cryption .two {
        width: 40%;
    }
}


/* ============================================= */

@media  screen and (min-height: 10px) {
    body {
        font-size: 5px;
    }
    .full {
        height: 95vh;
    }
}

@media  screen and (min-height: 250px) {
    body {
        font-size: 8px;
    }
    .full {
        height: 95vh;
    }
}

@media  screen and (min-height: 440px) {
    body {
        font-size: 12px;
    }
    .full {
        height: 95vh;
    }
}

@media  screen and (min-height: 900px) {
    body {
        font-size: 16px;
    }
    .full {
        height: 80vh;
    }
}

@media  screen and (min-height: 1000px) {
    .full {
        height: 70vh;
    }
}